@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#canvas {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mdc-card {
    position: fixed;
    max-width: 25%;

    top: 1rem;
    right: 1rem;

    background: white;
}

.mdc-text-field {
    width: 100%;
}

.mdc-switch {
    margin-top: 16px;
}

button.app-fab--absolute {
    position: fixed;

    bottom: 1rem;
    right: 1rem;
}

@media (min-width: 1024px) {
    .mdc-card {
        top: 1.5rem;
        right: 1.5rem;
    }

    button.app-fab--absolute {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}